@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Italiana&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
$main_fonts: "Italiana", sans-serif;
$main_fonts: "Italiana", sans-serif;
$second_fonts: "Montserrat", sans-serif;
$font-weight_300: 300;
$font-weight_400: 400;
$font-weight_700: 700;
$font-size_16: 16px;
$font-size_20: 20px;
$font-size_70: 70px;
$font-size_60: 16px;
$font-size_90: 90px;